input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #006259;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #006259;
}
.btnSubmit {
  background-color: #006259;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;

}


.ex2 {
      padding-top: 50px;
      text-align: center;

}
form {
    padding-top: 50px;
    width: 30%;
    align-content: center;
     margin: auto;
     display: table;
}

div .form {
  border-radius: 5px;
  background-color: #dd0707;
  padding: 20px;
}