body {
  margin: 0;

}
/* Start style Navbar */
.nav {
  height: 90px;
  background-color: #006259;
}

.nav > .nav-header {
  display: inline;
}

.logo{
  width: 100px; 
  height: 60px; 
  position: absolute;
  margin-top: 15px;
  margin-left: 15px;
}

.nav > .nav-links {
  float: right;
  font-size: 18px;
  margin-top: 20px;
  
}

.nav > .nav-links > a {
 
  padding: 15px;
  text-decoration: none;
  color: #efefef;
}

.fa-youtube {

  background-color:#ffffff33;
  font-size: 18px;
  border-bottom:  white;
  border-radius: 50%;
  
}

.fa-facebook {

  background-color:#ffffff33;
  font-size: 18px;
  border-bottom: white;
  border-radius: 50%;
  
}

.alatura{

  background-color: red;
  font-size: 18px;
  border-radius: 5px;   
  margin-left: 30px;
  margin-right: 50px;
}

/* End style Navbar */

section {
  height: 1000px;
}

footer {
  height: 100px;
  background: rgb(32, 44, 56);
}